
.contCities {
    display: flex;
    flex-direction: column;
}

.top-area {
    z-index: -1;
    margin-top: -15vh;
    width: 100%;
    height: 54vh;
    background-color: rgba(71, 70, 67, 0.776);
    background-image: url(https://img2.wallspic.com/crops/8/1/7/1/5/151718/151718-silueta_de_avion_en_la_playa_durante_la_noche-3840x2160.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-area-title {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 2.4rem;
    top: 4rem;
    height: 9rem;
    width: 15rem;
    margin-bottom: 0.2rem;
}

.top-area-text {
    font-size: 1.5rem;
    position: relative;
    top: -2rem;
    width: 25%;
    font-weight: 600;
    text-align: center;
}

.bot-area {
    display: flex;
    flex-direction: column;
}

.searchbar {
    width: 90%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
}

.searchbar-img {
    position: relative;
    left: 35px;
}

.searchbar-inp {
    display: flex;
    width: 70%;
    padding: 1rem 3rem;
    align-items: center;
}

.btnsearch{
    padding: 1%;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid grey;
}

.contCard{
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


.errorInCities{
    border-radius: 15px;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
}




@media screen and (max-width: 540px) and (min-width: 180px){
    .top-area {
        z-index: -1;
        margin-top: -55vh;
        height: 155vh;
    }
    .top-area-title {
        top: 12rem;
    }
    .top-area-text {
        font-size: 1.5rem;
        position: relative;
        top: 7rem;
        color: white;
        font-weight: 600;
        width: 55%;
    }
    .searchbar {
        margin: 5% 1%;
        display: flex;
        justify-content: center;
    }

}