.contMain {
    display: flex;
    padding: 7% 5%;
    justify-content: space-around;
}

.contIzq {
    width: 45%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttMain {
    text-align: center;
    width: 15rem;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    background-color: #4F46E5;
    font-weight: bold;
    text-decoration: none;
}

.buttMain:hover {
    transition: 1s;
    -webkit-box-shadow: inset 10px 10px 61px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: inset 10px 10px 61px 1px rgba(0, 0, 0, 0.41);
    box-shadow: inset 10px 10px 61px 1px rgba(0, 0, 0, 0.41);
}

.contDer {

    width: 40%;
    display: flex;
    align-items: center;
}


/* --------------------------------------------------------------- */

@media screen and (max-width: 540px) and (min-width: 180px) {
    .contMain {
        flex-direction: column-reverse;
        margin: auto;
        margin: 0% 15%;
        padding: 1% 0%;
        gap: 2rem;
    }

    .contIzq {
        width: 100%;
        gap: 2rem;
    }

    .contDer {
        margin-top: 30%;
        justify-content: center;
    }

    .titleMain {
        text-align: center;
    }

    .textMain {
        text-align: center;
    }

    .buttMain {
        align-self: center;
    }
}

@media screen and (max-width: 1024px) and (min-width: 760px) {
    .contIzq {
        height: 25rem;
        width: 80rem;
    }

    .contDer {
        width: 20rem;
        justify-content: end;
        align-items: center;
    }
}