.contMain {
    display: flex;
    padding: 7% 5%;
    justify-content: space-around;
}

.contIzq {
    width: 45%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttMain {
    text-align: center;
    width: 15rem;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    background: rgb(79,70,229);
    background: linear-gradient(102deg, rgba(79,70,229,1) 0%, rgba(0,101,255,1) 100%);
    font-weight: bold;
    text-decoration: none;
}

.buttMain:hover {
    transition: 1s;
    -webkit-box-shadow: inset 10px 10px 61px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: inset 10px 10px 61px 1px rgba(0, 0, 0, 0.41);
    box-shadow: inset 10px 10px 61px 1px rgba(0, 0, 0, 0.41);
}

.contDer {

    width: 40%;
    display: flex;
    align-items: center;
}


/* --------------------------------------------------------------- */

@media screen and (max-width: 540px) and (min-width: 180px) {
    .contMain {
        flex-direction: column;
        margin: auto;
        margin: 15%;
        padding: 1% 0%;
        gap: 2rem;
    }

    .contIzq {
        width: 100%;
        gap: 2rem;
    }

    .contDer {
        width: 100%;
        margin-top: 5%;
        justify-content: center;
    }

    .titleMain {
        text-align: center;
    }

    .textMain {
        text-align: center;
    }

    .buttMain {
        align-self: center;
    }
}

@media screen and (max-width: 1280px) and (min-width: 760px) {
    .contMain {
        flex-direction: column;

        padding: 1% 0%;
        gap: 2rem;
    }
    .contIzq {
        width: 100%;
        gap: 2rem;
        align-items: center;
    }

    .contDer {
        width: 100%;
        justify-content: center;
    }

}