.card {
     /* Estructura */
    padding: 4% 2%;
    width: 25rem;
    height: 20rem;
     /* Fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(90%);
     /* Letra */
    color: white;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
     /* Borde */
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 37px 11px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 3px 3px 37px 11px rgba(0, 0, 0, 0.47);
    box-shadow: 3px 3px 37px 11px rgba(0, 0, 0, 0.47);
}

.card:hover {
    transition: 1s;
    filter: grayscale(0%);
    transform: scale(1.05,1.05);
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 540px) and (min-width: 180px) {
    .card{
        width: 20rem;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 280px) and (min-width: 180px) {
    .card{
        width: 15rem;
        justify-content: center;
        align-items: center;
    }
}
