.contDC {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: inset 10px 10px 89px 26px rgba(0,0,0,0.44);
    -moz-box-shadow: inset 10px 10px 89px 26px rgba(0,0,0,0.44);
    box-shadow: inset 10px 10px 89px 26px rgba(0,0,0,0.44);
}

.contTop {
    background-color: rgba(190, 190, 190, 0.498);
    border-radius: 15px;
    padding: 2%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}

.mainInfo{
    display: flex;
}

.contInf{
    margin-right: 5%;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleInf{
    text-align: center;
    font-size: 4rem;
}

.contInf > p {
    font-size: 1.2rem;
}

.btnCitie{
    width: 30%;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #4F46E5;
    border-radius: 15px;
}

.btnCitie:hover{
    transition: 1s;
    background-color: #6963e4;
}

.contImg{
    width: 25%;
    margin: auto;
}

.flagImg{
    width: 100%;
    border-radius: 5px;
}

.NoIt{
    text-align: center;
    border-radius: 15px;
    padding: 2%;
    background-color: rgba(128, 128, 128, 0.479);
}

.linkNotIt{
    text-decoration: none;
    color: white;
}
.linkNotIt:hover{
    transition: 0.5s;
    color: #3227ff;
}


.contBot{
    padding: 0.5%;
    opacity: 0.8;
    margin: 3%;
}

.frameMap{
    border-radius: 5px;
    border: 2px solid black;
    -webkit-box-shadow: 3px 3px 37px 11px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 3px 3px 37px 11px rgba(0, 0, 0, 0.47);
    box-shadow: 3px 3px 37px 11px rgba(0, 0, 0, 0.47);
}

.ItineraryDet{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 1024px) and (min-width: 180px) {

    .contTop {
        flex-direction: column;
        padding: 10% 2%;
    }

    .mainInfo{
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    
    .contInf{
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .titleInf{
        text-align: center;
        font-size: 4rem;
    }
    
    .contInf > p {
        font-size: 1.2rem;
    }
    
    .btnCitie{
        margin: 5% auto;
        width: 90%;
        padding: 5%;
    }

    
    .contImg{
        width: 85%;
        margin: auto;
    }
    
    .flagImg{
        width: 100%;
        border-radius: 5px;
    }
    
    .contBot{
        padding: 0.5%;
        opacity: 0.8;
        margin: 3%;
    }
    
    .frameMap{
        width: 100%;
        height: 25rem;
    }
}
